{% extends 'main.html'%}

{% load static %}
{% block content %}

<div class="container">
    <div class="text-center">
        <h1 class="fw-bold pb-3">CHECKOUT</h1>
    </div>
    <div class="row row-cols-2">
        <div class="col"> 
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    {% csrf_token %}
                    <div id="user-info" class="hidden">
                        <div class="form-field">
                            <input type="text" required class="form-control" name="name" placeholder="Name...">
                        </div>
                        <div class="form-field">
                            <input type="text" required class="form-control" name="email" placeholder="Email...">
                        </div>
                    </div>

                    <div id="shipping-info">
                        <hr>
                        <p><strong>Shipping Information</strong></p>
                        <hr>
                        <div class="form-field">
                            <input type="text" class="form-control" name="address" placeholder="Address...">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="city" placeholder="City...">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="state" placeholder="State...">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="zipcode" placeholder="Zip Code...">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="country" placeholder="Country...">
                        </div>
                    </div>

                    <hr>
                    <input id="form-button" value="Continue" type="submit" class="btn btn-secondary">
                
                
                </form>
            
            </div>    
            <br>

            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
                <div id="paypal-button-container"></div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <h3 class="fw-bold pt-2">ORDER SUMMARY</h3>
                <hr>
                <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Item</strong></div>
                    <div style="flex:1"><strong>Price</strong></div>
                    <div style="flex:1"><strong>Quantity</strong></div>
                </div>
                {% for orderItem in orderItems %}
                <div class="cart-row">  
                    {% if orderItem.item.url %}
                    <div style="flex:2"><img class="row-image" src="{{orderItem.item.url}}"></div>
                    {% else %}
                    <div style="flex:2"><img class="row-image" src="{{orderItem.item.imageURL}}"></div>
                    {% endif %}
                    <div style="flex:2">{{orderItem.item.name}}</div>
                    <div style="flex:1">{{orderItem.item.price|floatformat:2}}</div>
                    <div style="flex:1"><p>x{{orderItem.quantity}}</p></div>
                </div>
                {% endfor %}
                
                <div class="text-center pt-2">
                    <h5 class="fw-bold">Items: {{order.get_cart_items}}</h5>
                    <h5 class="fw-bold">Total: ${{order.get_cart_total}}</h5>
                    <a href="{% url 'cart' %}" class="btn btn-secondary text-center">Back to Cart</a>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://www.paypal.com/sdk/js?client-id=Ae6VAxXz2mJrU9gQazKxxUwzufulgw2rri8gMwqUltKF9yH-XIODIpOHHdAhL5yOo2ufvU0v4Hil6qhp&currency=USD"></script>

<script>
    let total = '{{order.get_cart_total|floatformat:2}}'
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                submitFormData()
            });
        }


    }).render('#paypal-button-container');
</script>


<script type="text/javascript">
    let shipping = '{{order.shipping}}'
    

    if (user != 'AnonymousUser'){
        document.getElementById('user-info').innerHTML = ''
        }

    let form = document.getElementById('form')
    csrftoken = form.getElementsByTagName("input")[0].value
    console.log('Newtoken:', form.getElementsByTagName("input")[0].value)



    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Form Submitted...')
        document.getElementById('form-button').classList.add("hidden");
        document.getElementById('payment-info').classList.remove("hidden");
    })

    {% comment %} document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    }) {% endcomment %}

    function submitFormData(){
        console.log('Payment button clicked')

        let userFormData = {
            'name':null,
            'email':null,
            'total':total,
        }

        let shippingInfo = {
            'address':null,
            'city':null,
            'state':null,
            'zipcode':null,
        }

        if (shipping != 'False'){
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
        }

        console.log('Shipping Info:', shippingInfo)
        console.log('User Info:', userFormData)

    
        fetch('/store/process_order/', {
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            }, 
            body: JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
            
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success:', data);
            alert('Transaction completed'); 

            cart = {}
            document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
            window.location.href = "{% url 'store' %}"

            })
    }
</script>



{% endblock %}