{% extends 'main.html' %}

{% block content %}

<div class="container-lg">
  <div class="text-center">
    <h1 class="fw-bold">A CLOSER LOOK</h1>
  </div>
  <div class="row row-cols-2">
    <div class="col">
      <div class="card h-100">
      {% if item.url %}
      <img src="{{item.url}}" class="img-fluid" alt="item">
      {% else %}
      <img src="{{item.imageURL}}" class="img-fluid" alt="item">
      {% endif %}
      </div>
    </div>

    <div class="col d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Item Name: {{ item.name }}</h5>
          {% if item.description %}
          <p class="card-text py-3">Description: {{ item.description|linebreaksbr }}</p>
          {% endif %}
          {% if item.sell%}
          <p class="card-text py-3">Price: {{ item.price }}</p>
          {% endif %}
          {% if item.tags %}
          <div class="">Tags: 
          {% for tag in tags %}
            <span class="tag">
              <small>{{ tag }}</small>
            </span>
          {% endfor %}
          </div>
          {% endif %}
    
          <div class="">
            <a href="{% url 'create-message' item.owner.id %}" class="btn btn-secondary">Message {{item.owner}}</a>
            <a href="{% url 'store' %}" class="btn btn-secondary">Head back to store</a>
          </div>

        </div>
      </div>  
    </div>
  </div>
</div>

{% endblock %}