{% extends 'main.html' %}
{% load static %}

{% block content %}

  <div class="container-lg">
    <div class="text-center">
      <h2>Welcome to Your Closet</h2>
      <p class="lead text-muted">Click on a category below or use the search field to find something specific. Or just start scrolling!</p>
    </div>
  </div>

  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-lg">
      <!-- toggle button for mobile nav -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#items-nav" aria-controls="items-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- navbar links -->
      <div class="collapse navbar-collapse justify-content-center align-center" id="items-nav">
        <ul class="navbar-nav">
          {% if tops %}
          <li class="nav-item">
            <a class="nav-link" href="#tops">Tops</a>
          </li>
          {% endif %}
          {% if bottoms %}
          <li class="nav-item">
            <a class="nav-link" href="#bottoms">Bottoms</a>
          </li>
          {% endif %}
          {% if dresses %}
          <li class="nav-item">
            <a class="nav-link" href="#dresses">Dresses</a>
          </li>
          {% endif %}
          {% if shoes %}
          <li class="nav-item">
            <a class="nav-link" href="#shoes">Shoes</a>
          </li>
          {% endif %}
          {% if coats %}
          <li class="nav-item">
            <a class="nav-link" href="#outerwear">Outerwear</a>
          </li>
          {% endif %}
          {% if handbags %}
          <li class="nav-item">
            <a class="nav-link" href="#handbags">Handbags</a>
          </li>
          {% endif %}
          {% if others %}
          <li class="nav-item">
            <a class="nav-link" href="#other">Miscellaneous</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <section class="hero-section text-center">
      <div class="container container--narrow">

          <div class="hero-section__search">
              <form id='searchForm' class="form" action="" method="GET">
                  <div class="form__field">
                      <label for="formInput#search">Search:</label>
                      <input class="input input--text" id="formInput#search" type="text" name="search_query"
                          placeholder="Deets here" value="" />
                  </div>

                  <input class="btn btn-outline-secondary" type="submit" value="Search" />
                  <input class="btn btn-outline-secondary" type="submit" value="Reset" name='' />
              </form>
          </div>
      </div>
  </section>

  {% if tops %}
  <section id="tops" class="bg-light texture">
    <div class="container-lg">
      <div class="text-center">
        <h2>Tops</h2>
      </div>

      <div class="row my-2 align-items-center justify-content-center">
      {% for top in tops %}
        <div class="col-8 col-lg-4 col-xl-3 mb-3">
          <div class="card-group">
            <div class="card shadow p-3 mb-5 bg-body rounded">
              <div class="card-body text-center py-4">
                <img src="{{top.image.url}}" class="card-img-top">
                <a href="{% url 'item' top.id %}" class="btn btn-outline-secondary btn-lg mt-3">More Details</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <a class="nav-link text-center" href="#"><p class="fst-italic fw-light text-muted">(to top)</p></a>
      </div>
    </div>
  </section>
  {% endif %}

  {% if bottoms %}
  <section id="bottoms" class="bg-light texture">
    <div class="container-lg">
      <div class="text-center">
        <h2>Bottoms</h2>
      </div>

      <div class="row my-2 align-items-center justify-content-center">
      {% for bottom in bottoms %}
        <div class="col-8 col-lg-4 col-xl-3 mb-3">
          <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body text-center py-4">
              <img src="{{bottom.image.url}}" class="card-img-top">
              <a href="{% url 'item' bottom.id %}" class="btn btn-outline-secondary btn-lg mt-3">More Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
      <a class="nav-link text-center" href="#"><p class="fst-italic fw-light text-muted">(to top)</p></a>
      </div>
    </div>
  </section>
  {% endif %}

  {% if dresses %}
  <section id="dresses" class="bg-light texture">
    <div class="container-lg">
      <div class="text-center">
        <h2>Dresses</h2>
      </div>

      <div class="row my-2 align-items-center justify-content-center">
      {% for dress in dresses %}
        <div class="col-8 col-lg-4 col-xl-3 mb-3">
          <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body text-center py-4">
              <img src="{{dress.image.url}}" class="card-img-top">
              <a href="{% url 'item' dress.id %}" class="btn btn-outline-secondary btn-lg mt-3">More Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
      <a class="nav-link text-center" href="#"><p class="fst-italic fw-light text-muted">(to top)</p></a>
      </div>
    </div>
  </section>
  {% endif %}

  {% if shoes %}
  <section id="shoes" class="bg-light texture">
    <div class="container-lg">
      <div class="text-center">
        <h2>Shoes</h2>
      </div>

      <div class="row my-2 align-items-center justify-content-center">
      {% for shoe in shoes %}
        <div class="col-8 col-lg-4 col-xl-3 mb-3">
          <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body text-center py-4">
              <img src="{{shoe.image.url}}" class="card-img-top">
              <a href="{% url 'item' shoe.id %}" class="btn btn-outline-secondary btn-lg mt-3">More Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
      <a class="nav-link text-center" href="#"><p class="fst-italic fw-light text-muted">(to top)</p></a>
      </div>
    </div>
  </section>
  {% endif %}

  {% if coats %}
  <section id="outerwear" class="bg-light texture">
    <div class="container-lg">
      <div class="text-center">
        <h2>Outerwear</h2>
      </div>

      <div class="row my-2 align-items-center justify-content-center">
      {% for coat in coats %}
        <div class="col-8 col-lg-4 col-xl-3 mb-3">
          <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body text-center py-4">
              <img src="{{coat.image.url}}" class="card-img-top">
              <a href="{% url 'item' coat.id %}" class="btn btn-outline-secondary btn-lg mt-3">More Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
      <a class="nav-link text-center" href="#"><p class="fst-italic fw-light text-muted">(to top)</p></a>
      </div>
    </div>
  </section>
  {% endif %}

  {% if handbags %}
  <section id="handbags" class="bg-light texture">
    <div class="container-lg">
      <div class="text-center">
        <h2>Handbags</h2>
      </div>

      <div class="row my-2 align-items-center justify-content-center">    
      {% for handbag in handbags %}
        <div class="col-8 col-lg-4 col-xl-3 mb-3">
          <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body text-center py-4">
              <img src="{{handbag.image.url}}" class="card-img-top">
              <a href="{% url 'item' handbag.id %}" class="btn btn-outline-secondary btn-lg mt-3">More Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
      <a class="nav-link text-center" href="#"><p class="fst-italic fw-light text-muted">(to top)</p></a>
      </div>
    </div>
  </section>
  {% endif %}

  {% if others %}
  <section id="other" class="bg-light texture">
    <div class="container-lg">
      <div class="text-center">
        <h2>Miscellaneous</h2>
      </div>

      <div class="row my-2 align-items-center justify-content-center">    
      {% for other in others %}
        <div class="col-8 col-lg-4 col-xl-3 mb-3">
          <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body text-center py-4">
              <img src="{{other.image.url}}" class="card-img-top">
              <a href="{% url 'item' other.id %}" class="btn btn-outline-secondary btn-lg mt-3">More Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
      <a class="nav-link text-center" href="#"><p class="fst-italic fw-light text-muted">(to top)</p></a>
      </div>
    </div>
  </section>
  {% endif %}


{% endblock %}