{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-lg">
  <div class="text-center">
    <h2>Tell Us About Your Item</h2>
  </div>
  
  <div class="row justify-content-center my-5">
    {% if page == 'update' %}
    <div class="col-lg-4 mb-5">
      <img src="{{item.image.url }}" class="img-fluid" alt="item">
    </div>
    {% endif %}
    <div class="col-lg-6 formWrapper">
      <form class="shadow p-3 mb-5 bg-body rounded" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
       
        <div>
          <label for="formInput#text">Add new tags (single words only, and please separate by commas)</label>
          <textarea name="newtags" class="input" placeholder="new tags here!"></textarea>
        </div>
        <div class="row justify-content-center p-3">
          <button class="btn btn-outline-secondary" type="submit" value="Submit!">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}