{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="container-lg">
  <div class="row">
    <div class="col-sm-1">
      <div class="p-1 my-container"> 
        <a class="btn btn-secondary btn-sm" id="menu-btn">sidebar</a>  
      </div>
      {% include 'sidebar.html' %}
    </div>
    <div class="col-sm-11">
      <div class="container">
        <div class="text-center">
          <h1 class="fw-bold">YOUR ITEMS</h1>
          <p class="text-muted">Activate the sidebar on the left, use the search field below, or just start scrolling!</p>
        </div>
      </div>

      <section class="hero-section text-center">
        <div class="hero-section__search">
          <form id='searchForm' class="form" action="" method="GET">
            <div>
              <label for="formInput#search">SEARCH:</label>
              <input class="input input--text" id="formInput#search" type="text" name="search_query"
                  placeholder="Deets here" value="" />
            </div>
            <div style="margin-top: 5px">
              <input class="btn btn-secondary" type="submit" value="Search" />
              <input class="btn btn-secondary" type="submit" value="Reset" name='' />
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>    
</div>  

<div class="items-line"></div>

{% if tops %}
<section id="tops">
  <div class="container">
    <div class="row row-cols-2">
      {% for top in tops %}
      <div class="col mb-4">
        <div class="card h-100">
          <a href="{% url 'item' top.id %}">
          {% if top.url %}
          <img src="{{top.url}}" class="card-img-top">
          {% else %}
          <img src="{{top.imageURL}}" class="card-img-top">
          {% endif %}
          </a>
          
          <div class="card-body d-flex flex-column">
            <p class="card-text mt-auto text-center">{{top.name}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="items-line"></div>
{% endif %}


{% if bottoms %}
<section id="bottoms">
  <div class="container">
    <div class="row row-cols-2">
      {% for bottom in bottoms %}
      <div class="col mb-4">
        <div class="card h-100">
          <a href="{% url 'item' bottom.id %}">
          {% if bottom.url %}
          <img src="{{bottom.url}}" class="card-img-top">
          {% else %}
          <img src="{{bottom.imageURL}}" class="card-img-top">
          {% endif %}
          </a>
          <div class="card-body d-flex flex-column">
            <p class="card-text mt-auto text-center">{{bottom.name}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="items-line"></div>
{% endif %}


{% if dresses %}
<section id="dresses">
  <div class="container">
    <div class="row row-cols-2">
      {% for dress in dresses %}
      <div class="col mb-4">
        <div class="card h-100">
          <a href="{% url 'item' dress.id %}">
          {% if dress.url %}
          <img src="{{dress.url}}" class="card-img-top">
          {% else %}
          <img src="{{dress.imageURL}}" class="card-img-top">
          {% endif %}
          </a>
          <div class="card-body d-flex flex-column">
            <p class="card-text mt-auto text-center">{{dress.name}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="items-line"></div>
{% endif %}


{% if shoes %}
<section id="shoes">
  <div class="container">
    <div class="row row-cols-2">
      {% for shoe in shoes %}
      <div class="col mb-4">
        <div class="card h-100">
          <a href="{% url 'item' shoe.id %}">
          {% if shoe.url %}
          <img src="{{shoe.url}}" class="card-img-top">
          {% else %}
          <img src="{{shoe.imageURL}}" class="card-img-top">
          {% endif %}
          </a>
          <div class="card-body d-flex flex-column">
            <p class="card-text mt-auto text-center">{{shoe.name}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="items-line"></div>
{% endif %}


{% if coats %}
<section id="outerwear">
  <div class="container">
    <div class="row row-cols-2">
      {% for coat in coats %}
      <div class="col mb-4">
        <div class="card h-100">
          <a href="{% url 'item' coat.id %}">
          {% if coat.url %}
          <img src="{{coat.url}}" class="card-img-top">
          {% else %}
          <img src="{{coat.imageURL}}" class="card-img-top">
          {% endif %}
          </a>
          <div class="card-body d-flex flex-column">
            <p class="card-text mt-auto text-center">{{coat.name}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="items-line"></div>
{% endif %}


{% if handbags %}
<section id="handbags">
  <div class="container">
    <div class="row row-cols-2">
      {% for handbag in handbags %}
      <div class="col mb-4">
        <div class="card h-100">
          <a href="{% url 'item' handbag.id %}">
          {% if handbag.url %}
          <img src="{{handbag.url}}" class="card-img-top">
          {% else %}
          <img src="{{handbag.imageURL}}" class="card-img-top">
          {% endif %}
          </a>
          <div class="card-body d-flex flex-column">
            <p class="card-text mt-auto text-center">{{handbag.name}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="items-line"></div>
{% endif %}


{% if others %}
<section id="others">
  <div class="container">
    <div class="row row-cols-2">
      {% for other in others %}
      <div class="col mb-4">
        <div class="card h-100">
          <a href="{% url 'item' other.id %}">
          {% if other.url %}
          <img src="{{other.url}}" class="card-img-top">
          {% else %}
          <img src="{{other.imageURL}}" class="card-img-top">
          {% endif %}
          </a>
          <div class="card-body d-flex flex-column">
            <p class="card-text mt-auto text-center">{{other.name}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}


{% endblock %}