{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-lg">
  <div class="text-center">
    <h1 class="fw-bold">YOUR ITEM</h1>
  </div>
  
  <div class="row justify-content-center my-5 texture">
    {% if page == 'update' %}
    <div class="col-lg-4 mb-5">
      {% if item.url %}
      <img src="{{item.url}}" class="img-fluid" alt="item">
      {% else %}
      <img src="{{item.imageURL}}" class="img-fluid" alt="item">
      {% endif %}
    </div>
    {% endif %}
    <div class="col-lg-6 formWrapper">
      <form class="shadow-lg p-3 mb-5 bg-body rounded" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
       
        <div>
          <label for="formInput#text">Add new tags (single words only, and please separate by commas)</label>
          <textarea name="newtags" class="input" placeholder="new tags here!"></textarea>
        </div>
        <div class="row justify-content-center p-3">
          <button class="btn btn-secondary" type="submit" value="Submit!">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}