{% extends 'main.html' %}
{% load static %}

{% block content %}

  <div class="container-lg">
    <div class="text-center">
      <h2>Welcome to Your Outfits</h2>
    </div>
  </div>

  <section id="outfits" class="bg-light texture">
    <div class="container-lg">
    
      <div class="row my-2 align-items-center justify-content-center">
      {% for outfit in outfits %}
        <div class="col-8 col-lg-4 col-xl-3 mb-3">
          <div class="card-group">
            <div class="card shadow p-3 mb-5 bg-body rounded">
              <div class="card-body text-center py-4">
                <p>Name: {{outfit.name}}</p>
                <a href="{% url 'outfit' outfit.id %}" class="btn btn-outline-secondary">More Details</a>
                {% for item in outfit.items.all %}
                    {% if item.type == "top" %}
                        {{item.name}}
                        <img src="{{item.image.url}}" class="card-img-top">
                    {% endif %}
                    {% if item.type == "bottom" %}
                        {{item.name}}
                        <img src="{{item.image.url}}" class="card-img-top">
                    {% endif %}
                    {% if item.type == "dress" %}
                        {{item.name}}
                        <img src="{{item.image.url}}" class="card-img-top">
                    {% endif %}
                    {% if item.type == "shoe" %}
                        {{item.name}}
                        <img src="{{item.image.url}}" class="card-img-top">
                    {% endif %}
                    {% if item.type == "outerwear" %}
                        {{item.name}}
                        <img src="{{item.image.url}}" class="card-img-top">
                    {% endif %}
                    {% if item.type == "handbag" %}
                        {{item.name}}
                        <img src="{{item.image.url}}" class="card-img-top">
                    {% endif %}
                    {% if item.type == "other" %}
                        {{item.name}}
                        <img src="{{item.image.url}}" class="card-img-top">
                    {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <a class="nav-link text-center" href="#"><p class="fst-italic fw-light text-muted">(to top)</p></a>
      </div>
    </div>
  </section>



{% endblock %}