{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-lg">
  <div class="text-center">
    <h1 class="fw-bold">YOUR OUTFIT</h1>
  </div>
  
  <div class="row justify-content-center my-5 texture">
    <div class="col-lg-6 formWrapper">
      <form class="shadow p-3 mb-5 bg-body rounded" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        {% comment %} {% for field in form %}

        <div class="form__field">
            {{field.label}}
            {{field}}
        </div>
        {% endfor %} {% endcomment %}
        {% comment %} <p>next attempt</p> {% endcomment %}
        {% comment %} <div class="row">
        {{form.name.label}}
        {{form.name}}
        </div>
        <div class="row">
        {{form.description.label}}
        {{form.description}}
        </div>
        <div class="row">
          <div class="col-sm-4">
          {{form.items.label}}
          {{form.items}}
          </div>
        </div> {% endcomment %}
        
        <div class="row justify-content-center p-3">
          <button class="btn btn-secondary" type="submit" value="Submit!">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}