{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="container-lg">
  <div class="row">
    <div class="text-center">
      <h1 class="fw-bold">YOUR OUTFITS</h1>
    </div> 
  </div>
</div>


<section id="outfits">
  <div class="container">
    <div class="row row-cols-2">
      {% for outfit in outfits %}
      <div class="col my-4">
        <p>Outfit Name: {{outfit.name}}</p>
        <p>Outfit Description: {{outfit.description|linebreaksbr}}</p>

        <div class="card h-100">
          <a href="{% url 'outfit' outfit.id %}">
          
          {% for item in outfit.items.all %}
              {% if item.url %}
              <img src="{{item.url}}" class="card-img-top">
              {% else %}
              <img src="{{item.imageURL}}" class="card-img-top">
              {% endif %}
          {% endfor %}
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}

