{% extends 'main.html' %}

{% block content %}

<div class="container-lg">
  <div class="text-center">
    <h2>Let's Take a Closer Look</h2>
  </div>
  <div class="row my-5 g-5 justify-content-around align-items-center">
    <div class="col-6 col-lg-4">
      {% if item.url %}
      <img src="{{item.url}}" class="img-fluid" alt="item">
      {% else %}
      <img src="{{item.imageURL}}" class="img-fluid" alt="item">
      {% endif %}
    </div>
    <div class="col-6 col-lg-4">
      <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Name: {{ item.name }}</h5>
          <p class="card-text">Description: {{ item.description|linebreaksbr }}</p>
          {% if item.sell%}
          <p class="card-text">Price: {{ item.price }}</p>
          {% endif %}
          {% if item.tags %}
          <div>Tags: 
          {% for tag in tags %}
            <span class="tag">
              <a class="btn btn-outline-secondary btn-sm" href="{% url 'delete-tag' tag.id %}">{{ tag }}</a>
            </span>
            
          {% endfor %}
          <p>A tag no longer does it for you? Click to delete</p>
          </div>
          {% endif %}
    
          <div class="row align-items-center">
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'update-item' item.id %}">Update Item</a>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'delete-item' item.id %}">Delete Item</a>
          </div>

        </div>
      </div>  
    </div>
  </div>
</div>

{% endblock %}