{% extends 'main.html' %}

{% block content %}

<div class="container-lg">
  <div class="text-center py-4">
    <h1 class="fw-bold">A CLOSER LOOK</h1>
  </div>
  <div class="row row-cols-2">
    <div class="col">
      <div class="card h-100">
      {% if item.url %}
      <img src="{{item.url}}" class="img-fluid" alt="item">
      {% else %}
      <img src="{{item.imageURL}}" class="img-fluid" alt="item">
      {% endif %}
      </div>
    </div>

    <div class="col d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Item Name: {{ item.name }}</h5>
          {% if item.description %}
          <p class="card-text py-3">Description: {{ item.description|linebreaksbr }}</p>
          {% endif %}
          {% if item.sell%}
          <p class="card-text py-3">Your Price: {{ item.price }}</p>
          {% endif %}
          {% if item.tags %}
          <div class="">Tags: 
          {% for tag in tags %}
            <span class="tag">
              <a class="btn btn-secondary btn-sm" href="{% url 'delete-tag' tag.id %}?next={{request.path}}">{{ tag }}</a>
            </span>
            
          {% endfor %}
            <div class="d-flex flex-column">
              <p class="text-center py-3">If a tag no longer does it for you, simply click to delete</p>
            </div>
          </div>
          {% endif %}
    
          <div class="">
            <a class="btn btn-secondary btn-sm" href="{% url 'update-item' item.id %}">Update Item</a>
            <a class="btn btn-secondary btn-sm" href="{% url 'delete-item' item.id %}">Delete Item</a>
          </div>

        </div>
      </div>  
    </div>
  </div>
</div>

{% endblock %}