{% extends 'main.html'%}

{% block content %}
  <main class="messagePage my-xl">
    <div class="content-box">
      <div class="message">
        <a class="backButton" href="{% url 'inbox' %}"><i class="im im-angle-left"></i></a>
        <h2 class="message__subject">Subject: {{message.subject}}</h4>
          <p class="message__author">Name: {{message.sender}}</p>
          <div class="message__body">Message: {{message.body|linebreaksbr}}</div>
          <p class="message__date">Date sent: {{message.created}}</p>
          <a href="{% url 'create-message' message.sender.id %}" class="btn btn-outline-secondary btn-sm">Reply</a>
          <a class="btn btn-outline-secondary btn-sm" href="{% url 'delete-message' message.id %}">Delete</a>
      </div>
    </div>
  </main>
{% endblock %}