{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container-lg">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid" alt="clothes on hangers" src="{% static 'images/closet.jpg' %}">
        </div>
        <div class="col-6 d-flex flex-column justify-content-around">
            <div class="text-center">
                <h2>
                    <div class="display-4">CLOSET COMPANION</div>
                </h2>
                <h4>
                    <div class="pt-3 fst-italic fw-lighter index-large">Unlock the world of possibilities within your closet</div>
                </h4>
                <br>
                <h3>
                    <div class="text-center fw-lighter text-muted index-description pt-5">
                        <p>Immortalize your snazzy outfits!</p>
                        <br>
                        <p class="fst-italic">Closet looking a little bare? Feeling ensemble-y challenged?</p>
                        <br>
                        <p>Head to the store to pick up some new threads or sell your own</p>
                    
                    </div>
                </h3>
            </div>
        </div>
    </div>
    <div class="col">
        <p class="texture text-center m-5"><strong>&copy; 2021 <a class="form-link" href="https://davemolk.com/" target="_blank">Dave Molk</a></strong></p>
    </div>
</div>

{% endblock %}

