{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container-lg">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid" alt="clothes on hangers" src="{% static 'images/door.jpg' %}">
        </div>
        <div class="col-6">
            <div class="text-center">
                <h2>
                    <div class="display-4">CLOSET COMPANION</div>
                </h2>
                <h4>
                    <div class="pt-3 fst-italic fw-lighter index-large">Almost as good as shopping</div>
                </h4>
                <br>
                <h3>
                    <div class="text-center fw-lighter text-muted index-description pt-5">
                        <p>Use the navbar to keep track of what's in your closet</p>
                        <br>
                        <p>Immortalize your snazzy outfits</p>
                        <br>
                        <p> Check your inbox for messages from other users</p>
                        <br>
                        <p class="fst-italic">Closet looking a little bare? Feeling ensemble-y challenged?</p>
                        <br>
                        <p>Head to the store to pick up some new threads or sell your own</p>
                    
                    </div>
                </h3>
            </div>
        </div>
    </div>
    <div class="col">
        <p class="texture text-center m-5"><strong>Unlock the world of possibilities within your closet</strong></p>
    </div>
</div>

{% endblock %}

