<div class="side-navbar shadow d-flex justify-content-between flex-wrap flex-column" id="sidebar">
  <ul class="nav flex-column text-white w-100">
    {% if tops %}
          <li class="nav-item">
            <a class="nav-link form-link" href="#tops">Tops</a>
          </li>
          {% endif %}
          {% if bottoms %}
          <li class="nav-item">
            <a class="nav-link form-link" href="#bottoms">Bottoms</a>
          </li>
          {% endif %}
          {% if dresses %}
          <li class="nav-item">
            <a class="nav-link form-link" href="#dresses">Dresses</a>
          </li>
          {% endif %}
          {% if shoes %}
          <li class="nav-item">
            <a class="nav-link form-link" href="#shoes">Shoes</a>
          </li>
          {% endif %}
          {% if coats %}
          <li class="nav-item">
            <a class="nav-link form-link" href="#outerwear">Outerwear</a>
          </li>
          {% endif %}
          {% if handbags %}
          <li class="nav-item">
            <a class="nav-link form-link" href="#handbags">Handbags</a>
          </li>
          {% endif %}
          {% if others %}
          <li class="nav-item">
            <a class="nav-link form-link" href="#other">Misc</a>
          </li>
          {% endif %}
  </ul>
</div> 